name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install deps
      run: npm ci
    - name: Run unit tests (Jest)
      run: npx jest --ci --runInBand --coverage

  e2e:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: cypress-io/github-action@v5
        with:
          start: npm start
          wait-on: http://localhost:8080
          browser: electron
          command: npm run test:end-to-end
        env:
          CI: true
